.main-nav-div {
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 100vw;
  background-color: rgba(0, 255, 255, 0.264);  
}

.main-left {
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-content: center;
 width: 9vh;
}

.iconImage {
  display: flex;
  flex-direction: row;
  width: 8vh;
  height: 8vh;
  align-self: center;
  margin-left: 0.5vh;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
  font-size:x-large;
}

#iconText {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding-left: 1vh;
}

.main-right {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-around;
}

.right-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 17vw;
  margin-right: 18vw;
}

.right-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 15vw;
  margin-right: 15vw;
}