.paginate {
  display: flex;
  justify-content: center;
  padding: 1vh;
  height: 2.2vh;
}

[id="0"] {
  background-color: rgba(46, 230, 163, 0.377);
  height: 2vh;
}

[id="0"].asd {
  height: 2.2vh;
}

.asd:not([id="0"])
{
  background-color: rgba(230, 46, 175, 0.363);
  height: 2.2vh;
}

@media (max-width: 1024px) {
  [id='0'] {
    font-size: xx-small;
    padding-bottom: 10px;
  }
  [id='0'].asd {
    font-size: xx-small;
    padding-bottom: 10px;
  }
  .asd:not([id='0']) {
    font-size: xx-small;
    padding-bottom: 10px;
  }
}

